/bin
/cmd
/dev
/etc
/git-bash.exe
/git-cmd.exe
/LICENSE.txt
/mingw64
/ReleaseNotes.html
/tmp
/unins000.dat
/unins000.exe
/unins000.msg
/usr
/Visual Studio Code.code-workspace01.code-workspace
/Visual Studio Code.code-workspace02.code-workspace
/Visual Studio Code.code-workspace03.code-workspace